@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #4d4d4d;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}   
p {
    color: #717171;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: #ffffff;
}

nav {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    height: 100px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logo {
    display: flex;
    width: 182px;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 35px;
    height: 24px;
    flex-shrink: 0;
}

.nexcent {
    width: 111px;
    height: 20px;
    flex-shrink: 0;
    fill: #263238;
}

.menu {
    display: flex;
    width: 588px;
    height: 24px;
    font-weight: 500;
    align-items: center;
}

.menu-icon {
    display: none;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.menu ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: auto;
    list-style-type: none;
    font-size: 16px;
}

.menu a {
    text-decoration: none;
    color: #263238;
}

.connexion {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    line-height: 24px;
}

.login {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 0;
    background: #ffffff;
    color: #4caf4f;
    text-align: center;
    transition: 300ms;
}

.login:hover {
    background: #4caf4f;
    color: #ffffff;
    cursor: pointer;
}

.signup {
    display: flex;
    white-space: nowrap;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 0;
    background: #4caf4f;
    color: #ffffff;
    text-align: center;
    transition: 300ms;
}

.signup:hover {
    background: #ffffff;
    color: #4caf4f;
    cursor: pointer;
}

.hero-box {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: #f5f7fa;
}
.hero {
    display: flex;
    width: 100vw;
    height: fit-content;
    max-width: 1152px;
    padding: 96px 0;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    gap: 32px;
    flex: 1 0 0;
}

.hero-content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;

    gap: 16px;
    align-self: stretch;
}

.button {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4caf4f;
    font-size: 16px;
    color: white;
}

.hero-title {
    color: #4d4d4d;
    width: 100%;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    align-self: stretch;
    white-space: nowrap;
}

.hero-subtitle {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clients {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    padding: 70px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.clients > div {
    display: flex;
    max-width: 1152px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.clients ul {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    height: 98px;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    align-self: stretch;
}

.clients > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    align-self: stretch;
}

.community {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.community > div {
    width: 100%;
}

.services {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 300px;
}

.services > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    align-self: stretch;
}

.pixelgrade {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 40px 0px;
    background-color: #f5f7fa;
}
.pixelgrade > div {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.pixelgrade > img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.pixelgrade > div > div {
    display: flex;
    width: 661px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.pixelgrade p {
    color: #717171;
    text-align: left;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.pixelgrade h2 {
    color: #4d4d4d;
    text-align: left;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.pixelgrade a {
    display: flex;
    text-decoration: none;
    background-color: #4caf4f;
    color: #ffffff;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
}

.statistics {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    padding: 75px 0;
    justify-content: space-between;
    align-items: center;
}

.stat-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.stat-header h2 {
    text-align: left;
}

.stat-header p {
    text-align: left;
}

.statistics-content {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}

.statistics-content > div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.design {
    display: flex;
    width: 100vw;
    background-color: #f5f7fa;
    padding: 70px 0px;
    justify-content: center;
}

.design > div {
    display: flex;
    width: 100%;
    max-width: 1152px;
    justify-content: space-between;
    align-items: center;
}
.design-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 50%;
}
.design-content > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.design-content h2 {
    text-align: left;
}

.design-content p {
    text-align: left;
}
.design-content > a {
    display: flex;
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 4px;
    background: #4caf4f;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.customer {
    display: flex;
    width: 100vw;
    max-width: 1152px;
    padding: 70px 0px;
    justify-content: space-between;
    align-items: center;
}

.customer > div {
    display: flex;
    flex-direction: column;
    width: 748px;
    gap: 32px;
}

.customer > img {
    border-radius: 8px;
    width: 326px;
    height: 326px;
}

.customer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.customer-content > p {
    text-align: left;
}
.customer-content > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.customer-content h4 {
    color: #4caf4f;
}

.customer-content > div > p {
    color: #89939e;
}

.customer-logos {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.customer-logos > ul {
    display: flex;
    height: 48px;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.customer-logos > a {
    display: flex;
    padding: 8px;
    gap: 8px;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #4caf4f;
    text-decoration: none;
}

.articles {
    display: flex;
    width: 100vw;
    background-color: #f5f7fa;
    justify-content: center;
}

.articles > div {
    display: flex;
    padding: 70px 0px;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.articles-header {
    display: flex;
    width: 100%;
    max-width: 1152px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.articles-content {
    display: flex;
    width: 100%;
    max-width: 1152px;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    border-radius: 8px;
    width: 100%;
    height: 286px;
    object-fit: cover;
}

.card > div {
    display: flex;
    width: 80%;
    margin-top: -96px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}

.articles-content h4 {
    color: #717171;
    text-align: center;
}

.articles-content a {
    text-decoration: none;
    color: #4caf4f;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.demo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1152px;
    padding: 32px 0px;
    gap: 32px;
    align-items: center;
}
.demo > h2 {
    text-align: center;
    width: 65%;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    color: #263238;
}

.demo > a {
    display: flex;
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 4px;
    background: #4caf4f;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer {
    display: flex;
    width: 100vw;
    padding: 64px 0px;
    justify-content: center;
    background-color: #263238;
}

footer h4 {
    color: #FFFFFF;
}

footer p {
    font-size: 14px;
line-height: 20px;
color: #F5F7FA;
}

footer a {
    text-decoration: none;
    color: #F5F7FA;
    font-size: 14px;
    line-height: 20px;
} 
footer > div {
    width: 100%;
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 350px;
}

.infos > img {
    width: 191px;
}
.copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infos p {
    text-align: left;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.links > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.newsletter > form {
    position: relative;
}

.newsletter > form > input {
    padding:0 20px;
        height: 40px;
        border-radius: 8px;
        background-color: #FFFFFF;
        opacity: 0.2;
        color: #D9DBE1;

}

.newsletter > form > button {
    height: 20px;
    position: absolute;
  right: 10px;
  top: 10px;
  border: none;
}

@media screen and (max-width: 1000px) {
    nav {
        justify-content: space-between;
    }
    body {
        overflow-x: hidden;
        width: 100%;
    }

    main {
        width: 100%;
        padding: 0 16px;
    }

    section {
        width: 100%;
        padding: 0 16px;
    }

    .connexion {
        display: none;
    }
    .menu {
        width: fit-content;
    }
    .menu > ul {
        display: none;
        background: #dff0d8;
        box-shadow: 0 8px 16px black;
        z-index: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .menu-icon {
        display: block;
    }
    .menu:hover > ul {
        display: block;
    }
    .hero {
        padding: 0 16px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .hero-content {
        width: 100%;
    }
    .hero-content div {
        width: 100%;
    }
    .hero-title {
        white-space: normal;
        height: fit-content;
        width: 100%;
    }

    .clients > div {
        width: 100%;
        padding: 0 60px;
    }

    .clients ul {
        width: 100%;
        gap: 10px;
        justify-content: space-around;
    }
    .clients-logos > li {
        display: none;
    }
    .clients-logos > li:nth-last-child(-n + 3) {
        display: block;
    }

    .community {
        padding: 0 16px;
    }

    .services {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .pixelgrade {
        padding: 0 30px;
    }
    .pixelgrade > div {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 32px;
    }
    .pixelgrade > div > div {
        width: 100%;
    }

    .statistics {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 32px;
        gap: 32px;
    }

    .statistics-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .statistics-content p {
        text-align: start;
    }
    .design > div {
        padding: 0 16px;
        flex-direction: column;
    }
    .design-content {
        width: 100%;
    }
    .customer {
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        gap: 78px;
    }
    .customer > div {
        width: 100%;
    }
    .customer-logos {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .articles-content {
        flex-direction: column;
        gap: 35px;
    }
    .card {
        width: 80%;
    }

    .demo > h2 {
        width: 100%;
    }
}
